

.Fiche-container {
  color: $primary-color;
  @include flex-center;
  flex-direction: column;
  margin-bottom: 20px;
}
.Fiche-logement {
  display: flex;
  flex-direction: column;
  width: 100%;
  div {
    flex: 1 0 auto;
  }
  &__info {
    flex-direction: column;

    .titre-logement {
      @include font(36px, 500);
      display: flex;
      align-items: flex-end;
    }
    .endroit-logement {
      @include font(18px, 500);
      display: flex;
      align-items: flex-end;
      margin-bottom: 25px;
    }
  }
  &__proprietaire {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__info {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;

      .nom-proprietaire {
        font-size: 18px;
        margin-right: 10px;
        text-align: right;
        width: 93px;
      }
      .photo-proprietaire {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
      &__rate {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    
    }
  }
}
.etoile {
  height: 30px;
  width: 30px;
  object-fit: cover;
}


// .description-equipements > .collapse {
//   width: 50%;
// }
//   &__logement {

// div {
//   flex: 1 0 auto;
// }
//     &__info {
//       flex-direction: column;
//       .titre-logement {
//         @include font(36px, 500);
//         display: flex;
//         align-items: flex-end;
//       }
//       .endroit-logement {
//         @include font(18px, 500);
//         display: flex;
//         align-items: flex-end;
//         margin-bottom: 25px;
//       }
//     }
//     &__proprietaire {
//       &__info {
//         align-items: center;
//         display: flex;
//         justify-content: flex-end;
//         margin-bottom: 25px;
//         .nom-proprietaire {
//           font-size: 18px;
//           margin-right: 15px;
//           text-align: right;
//           width: 93px;
//         }
//         .photo-proprietaire {
//           border-radius: 50%;
//           width: 64px;
//           height: 64px;
//           object-fit: cover;
//         }
//       }
//       &__rate {
//         display: flex;
//         align-items: flex-end;
//         justify-content: flex-end;
//       }
//       &__etoile {
//         height: 30px;
//         width: 30px;
//       }
//     }
//   }

// .information-propietaire {
//   align-items: center;
//   display: flex;
//   justify-content: flex-end;
//   margin-bottom: 25px;
// }
